body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
   
    /*align-items: center;
    text-align: center;*/
    font-size: 100px;
    
}

.letter {
    transition:color 1000ms;
}