body {
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
   
    /*align-items: center;
    text-align: center;*/
    font-size: 13rem;
    
}

.letter {
    transition:color 1000ms;
}