body {
    background-color: rgb(20, 208, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
   
    /*align-items: center;
    text-align: center;*/
    font-size: 16rem;
    
}

.letter {
    transition:color 1000ms;
}